.customer-club {
    display: flex;
    margin-top: getSpacing(medium);

    img {
        height: 100%;
        object-fit: cover;
    }

    @media (min-width: breakpoint(small)) {
        align-items: stretch;
    }
}

.club-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    justify-content: center;

    h4 {
        text-align: left;
        margin-top: getSpacing(small);
    }

    p {
        text-align: left;
    }

    @media (min-width: breakpoint(small)) {
        h4 {
            margin-top: 0;
        }
    }

}

.email-signup {
    display: flex;
    width: 100%;
    margin: getSpacing(small) auto;

    button {
        flex-shrink: 2;
    }
}